body {
    background-color: black;
    padding: 0;
    border: 0;
    margin: 0;
}
#main {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}
#main:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
#main:hover:before {
    opacity: 1;
}
#main:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: black;
    left: 2px;
    top: 2px;
    border-radius: 10px;
}
a {
    position: relative;
    width: auto;
    min-width: 100px;
    padding-inline: 2.5%;
    height: 50px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    font-weight: normal;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
a:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
a:active {
    color: #000
}

a:active:after {
    background: transparent;
}

a:hover:before {
    opacity: 1;
}

a:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}