body {
    background-color: black;
}
.container {
    background-color: #cccccc;
    border: 5px solid #eeeeee;
    border-radius: 10px;
    position: absolute;
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5%;
}
.Feld {
    padding: 20px;
    position: relative;
    background-color: aliceblue;
    transition: 0.5s;
    border-radius: 20px;
    margin: 2%;
}
.flipped {
    transform: rotateY(180deg);
}